.main {
  background-color: var(--color-black);
  min-height: 150dvh;
}

.pageTitle {
  color: var(--color-white);
  font-size: 3rem;
  padding: 3rem 0;
  text-align: center;
}

.positionSelectBTNsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.positionSelectBTNs {
  color: var(--color-white);
  font-size: 1.5rem;
  background-color: var(--color-green-primary);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.positionSelectBTNs:hover {
  background-color: var(--color-green-dark);
  transform: translateY(-0.5rem);
  transition: 0.2s ease-in-out;
}

.positionSelectBTNs:active {
  transform: translateY(0);
  background-color: var(--color-green-primary);
}

.positionTitle {
  color: var(--color-white);
}
